<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776681759082-adtbifgos627pv4jgspd4makio9m0l7c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776681759082-adtbifgos627pv4jgspd4makio9m0l7c</string>
	<key>API_KEY</key>
	<string>AIzaSyBs9S0KhPlpKPh00v6XwXKjRgBWX0XMwnw</string>
	<key>GCM_SENDER_ID</key>
	<string>776681759082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>ditonton-cf5c8</string>
	<key>STORAGE_BUCKET</key>
	<string>ditonton-cf5c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776681759082:ios:4f290659aca47136b80513</string>
</dict>
</plist>